@model Do_Again.viewModels.DetailsBook
@using Do_Again.Controllers
@using Microsoft.AspNetCore.Identity


@inject SignInManager<IdentityUser> signInManager;

@{
    ViewBag.Title = "Employee Details";
    var photoPath = "~/image/Book/" + (Model.Book.Photopath ?? "noimage.jpg");
}
<head>
         <link rel="stylesheet" href="~/css/Details.css" />
</head>
<div class="row justify-content-center m-3">
   <div class="card col-md-auto col-md-4 col-xl-4 mb-6 for_form_details">
   
                                    <div class="mb-2 card-img-top">
                             <img class="img-fluid" src="@photoPath" asp-append-version="true" />
                                    </div>
                                    <div class="card-body "style=" padding: 0;">
                                    <h5 class="mb-2 card-text detailfont">
                                            @Model.Book.Name (@Model.categorys.Name_catogry)
                                        </h5>
                                        </div>
                                                  
                                         
               
                    
           
               <div class="card-footer flex-center-between">
                   <div class="prodcut-price ">
                <div class="text-gray-100">@Model.Book.Price EGP</div> 
    </div>
    <div class="d-none d-xl-block prodcut-add-cart">
        <button class="btn-add-cart btn-primary transition-3d-hover btn-add-cart"
              asp-controller="Order" 
                                   asp-action="AddItemToShoppingCart" 
                                   asp-route-id="@Model.Book.Id">
                                <i class="fa-solid fa-cart-shopping "></i> 

        </button>

    </div>
    </div>
         </div>
         </div>
   @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
        <a asp-action="edit" asp-controller="home"
                   asp-route-id="@Model.Book.Id" class="btn btn-primary btn-lg mx-auto d-table mb-10 mrg">Edit</a>
       
                         <form class="anyy" enctype="multipart/form-data"  asp-controller="home" asp-action="Delete" asp-route-id="@Model.Book.Id"
      method="post" >
        <button type="submit" class="btn btn-danger btn-delete mx-auto d-table mb-10 mrg">Delete</button>
        </form>
          

  }
  
        
            
       
     
 


<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}

    